@if (IsActive)
{
    <button type="button" class="btn btn-danger">Danger@* Delete *@</button>
    <button type="button" class="btn btn-success">Success@* Edit *@</button>
}

@code {
    [Parameter]
    public bool IsActive { get; set; }
}
